<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>orders : Create</title>
</head>
<body>

	<div layout:fragment="content" class="container">
	<div class="container theme-showcase" role="main">
		<form id="orderForm" th:action="@{/order/form}" th:object="${order}"
			action="#" method="post" class="form-inline">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
	<nav class="navbar navbar-inverse text-center" style="background-color:#EF823A;">
          <h5>订单信息 录入</h5>
    </nav>
<input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
<input type="hidden" th:field="*{updateDate}" th:class="${#fields.hasErrors('updateDate')} ? 'field-error'" />
<input type="hidden" th:field="*{createDate}" th:class="${#fields.hasErrors('createDate')} ? 'field-error'" /> 

<div class="alert alert-success" role="alert"  th:if="${globalMessage}" th:text="${globalMessage}"></div>

    <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">商品名称:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{goods}"  th:class="${#fields.hasErrors('goods')} ? 'field-error'"/>
            </div>
          </div>
	</div>
	
	 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">数量:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{num}" th:class="${#fields.hasErrors('num')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
		 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">单位:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{order_unit}" th:class="${#fields.hasErrors('order_unit')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">销售日期:</h3>
            </div>
            <div class="panel-body">
              <input type="date" class="form-control" th:field="*{sales_date}" th:class="${#fields.hasErrors('sales_date')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
		 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">备注:</h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control" th:field="*{memo}" th:class="${#fields.hasErrors('memo')} ? 'field-error'" readonly="readonly"/>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">物流状态:</h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control" th:field="*{logistics}" th:class="${#fields.hasErrors('logistics')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">支付状态:</h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control" th:field="*{pay}" th:class="${#fields.hasErrors('pay')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">用户信息:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{user}"  th:class="${#fields.hasErrors('user')} ? 'field-error'"/>
            </div>
          </div>
	</div>
	
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">用户手机:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{user_tmp}"  th:class="${#fields.hasErrors('user_tmp')} ? 'field-error'"/>
            </div>
          </div>
	</div>
			<div class="col-sm-12">
	<button type="submit" class="btn btn-default active form-control">下一步</button>
</div>
		</form>
	</div>
	</div>
</body>
</html>
