<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>goodss : Create</title>
</head>
<body>

	<div layout:fragment="content" class="container">
	<div class="container theme-showcase" role="main">
		<form id="goodsForm" th:action="@{/goods/form}" th:object="${goods}"
			action="#" method="post" class="form-inline">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
	<nav class="navbar navbar-inverse text-center" style="background-color:#EF823A;">
          <h5>商品信息录入</h5>
    </nav>
    
<div class="alert alert-success" role="alert"  th:if="${globalMessage}" th:text="${globalMessage}"></div>

<input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
<input type="hidden" th:field="*{updateDate}" th:class="${#fields.hasErrors('updateDate')} ? 'field-error'" />
<input type="hidden" th:field="*{createDate}" th:class="${#fields.hasErrors('createDate')} ? 'field-error'" />
 
    <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">商品名称:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{name}"  th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
            </div>
          </div>
	</div>
	
	 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">商品编号:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
		 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">单位:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{goods_unit}" th:class="${#fields.hasErrors('goods_unit')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">铭牌价格:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{nameplate_price}" th:class="${#fields.hasErrors('nameplate_price')} ? 'field-error'" />
            </div>
          </div>
	</div>

	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">折扣:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{rebate}" th:class="${#fields.hasErrors('rebate')} ? 'field-error'" />
            </div>
          </div>
	</div>
		
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">销售价格:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{sales_price}" th:class="${#fields.hasErrors('sales_price')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">备注:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{memo}" th:class="${#fields.hasErrors('memo')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">销售日期(开始):</h3>
            </div>
            <div class="panel-body">
              <input type="date" class="form-control" th:field="*{date_from}" th:class="${#fields.hasErrors('date_from')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">销售日期(结束):</h3>
            </div>
            <div class="panel-body">
              <input type="date" class="form-control" th:field="*{date_end}" th:class="${#fields.hasErrors('date_end')} ? 'field-error'" />
            </div>
          </div>
	</div>
	
			<div class="col-sm-12">
				<button type="submit" class="btn btn-default active form-control">提交</button>
			</div>
		</form>
	</div>
	</div>
</body>
</html>
