<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>users : Register</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="container theme-showcase" role="main">
		<form id="userForm" th:action="@{/user/register}" th:object="${userModel}"
			action="#" method="post" class="form-inline">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
		
    <nav class="navbar navbar-inverse text-center" style="background-color:#EF823A;">
          <h5>注册</h5>
    </nav>
     <div class="alert alert-success" role="alert"  th:if="${globalMessage}" th:text="${globalMessage}"></div>
    
    <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">手机号:</h3>
            </div>
            <div class="panel-body">
              <input type="text" th:field="*{mobile}" id="mobile" name="mobile" th:class="${#fields.hasErrors('mobile')} ? 'field-error'" class="form-control" aria-describedby="手机号" pattern="^[0-9]+$">
            </div>
          </div>
	</div>
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">验证码:</h3>
            </div>
            <div class="panel-body">
            	<div class="col-xs-8">
    			<input type="text" class="form-control" id="cd" name="cd" placeholder="验证码">
    			</div>
    			<button type="button" class="btn btn-default" id="vcButton" onclick="sendCode(0);">获取</button>
  			
  
            </div>
          </div>
</div>
<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">设置密码:</h3>
            </div>
            <div class="panel-body">
              <input type="password" th:field="*{pwd}" id="pwd" name="pwd" class="form-control" aria-describedby="pwd" th:class="${#fields.hasErrors('pwd')} ? 'field-error'" />
            </div>
          </div>
</div>

			<div class="col-sm-12">
	<button type="submit" class="btn btn-default active form-control">下一步</button>
</div>
			
		</form>
	</div>
	</div>
</body>
</html>
