<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>purchases : View</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalPurchase}"
			th:text="${globalPurchase}">Some Success purchase</div>
		<div class="pull-right">
			<a th:href="@{/}" href="list.html"> purchases </a>
		</div>
		
		<nav class="navbar navbar-inverse text-center" style="background-color:#EF823A;">
          <h5>采购详细</h5>
    </nav>

<div class="alert alert-success" role="alert"  th:if="${globalMessage}" th:text="${globalMessage}"></div>

    <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">采购流水号:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.id}"></label>
            </div>
          </div>
	</div>
	
    <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">商品名称:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.name}"></label>
            </div>
          </div>
	</div>
	
	 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">商品编号:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.code}"></label>
            </div>
          </div>
	</div>
	
		 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">属性:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.attribute}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">铭牌价格:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.nameplate_price}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">折扣:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.rebate}"></label>
            </div>
          </div>
	</div>
	
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">采购价格:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.purchase_price}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">采购员:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.purchasing_agent}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">采购数量:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.num}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">单位:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.purchase_unit}"></label>
            </div>
          </div>
	</div>
	
		 <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">采购日期:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${calendars.format(purchase.purchasing_date)}"></label>
            </div>
          </div>
	</div>
	
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">供应商信息:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.company}"></label>
            </div>
          </div>
	</div>
	
	<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">账期信息:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${purchase.account_period}"></label>
            </div>
          </div>
	</div>
		
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">更新时间:</h3>
            </div>
            <div class="panel-body">
              <label th:text="${calendars.format(purchase.updateDate)}"></label>
            </div>
          </div>
	</div>
	
		<div class="pull-left">
			<a href="purchases" th:href="@{'/delete/' + ${purchase.id}}">
				delete </a> | <a href="form.html"
				th:href="@{'/modify/' + ${purchase.id}}"> modify </a>
		</div>
	</div>
</body>
</html>